
<md-sidenav-container class="example-container">
  <md-sidenav #sidenav mode="side" class="example-sidenav">
    <md-list>
      <h3 md-subheader>Menu</h3>
      <md-list-item><button md-button routerLink="/private" routerLinkActive="active">Dashboard</button></md-list-item>
      <md-list-item><button md-button routerLink="/notifications" routerLinkActive="active">Notifications</button></md-list-item>
      <md-list-item><button md-button routerLink="/vehicles" routerLinkActive="active">Vehicles</button></md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button class="app-icon-button" (click)="sidenav.toggle()">
        <i class="material-icons app-toolbar-menu">menu</i>
      </button>

    <span>Vehicollate</span>

    <button md-icon-button [md-menu-trigger-for]="menu">
        <md-icon>more_vert</md-icon>
      </button>
  </md-toolbar>

  <md-menu x-position="before" #menu="mdMenu">
    <button md-menu-item (click)="logout()">Logout</button>
    <button md-menu-item>Help</button>
  </md-menu>

  <div>

    <md-grid-list cols="12" rowHeight="100px" >
      <md-grid-tile>car</md-grid-tile>
      <md-grid-tile>color</md-grid-tile>
      <md-grid-tile>engineNo</md-grid-tile>
      <md-grid-tile>fuelType</md-grid-tile>
      <md-grid-tile>maker</md-grid-tile>
      <md-grid-tile>monthOfManufacturing</md-grid-tile>
      <md-grid-tile>ownerName</md-grid-tile>
      <md-grid-tile>ownership</md-grid-tile>
      <md-grid-tile>registrationDate</md-grid-tile>
      <md-grid-tile>registrationNo</md-grid-tile>
      <md-grid-tile>userId</md-grid-tile>
      <md-grid-tile>yearOfManufacturing</md-grid-tile>
    </md-grid-list>
    <md-grid-list cols="12" rowHeight="100px" *ngFor="let vehicle of vehicles">
      <md-grid-tile>{{vehicle.car}}</md-grid-tile>
      <md-grid-tile>{{vehicle.color}}</md-grid-tile>
      <md-grid-tile>{{vehicle.engineNo}}</md-grid-tile>
      <md-grid-tile>{{vehicle.fuelType}}</md-grid-tile>
      <md-grid-tile>{{vehicle.maker}}</md-grid-tile>
      <md-grid-tile>{{vehicle.monthOfManufacturing}}</md-grid-tile>
      <md-grid-tile>{{vehicle.ownerName}}</md-grid-tile>
      <md-grid-tile>{{vehicle.ownership}}</md-grid-tile>
      <md-grid-tile>{{vehicle.registrationDate}}</md-grid-tile>
      <md-grid-tile>{{vehicle.registrationNo}}</md-grid-tile>
      <md-grid-tile>{{vehicle.userId}}</md-grid-tile>
      <md-grid-tile>{{vehicle.yearOfManufacturing}}</md-grid-tile>
    </md-grid-list>
  </div>

</md-sidenav-container>
